.divmain{
    height: 50px;
    border: 1px solid;
    color: white;
    background: black;
    font-weight: 600;
    
}
.photo{
    
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid wheat;
    width: 257px;
}
hr{
    border: none;
    background-color: wheat;
    height: 1px;
}